<h1> Pokemon Deck Builder </h1>


<h2> Choose a Search Option <h2>

<div>
<h2> View All... </h2>
<ul>
  <li>
    <a href="/sets" > 
    Sets
    </a>
  </li>
    <li>
    <a href="/types" > 
    Types
    </a>
  </li>
</ul>
</div>

<hr>

<h1> Advance Search... </h1>

<div>
<h2> List of Sets </h2>
    <form action="/search" method="post">
    
    <select name="query_set_id" id="set_id_box">

    <% @list_of_sets.each do |a_set| %>

    <option value="<%= a_set.id%>" >
      <%= a_set.name %>

    </option>

    <% end %>
     </select>

    <select name="query_type_id" id="type_id_box">

    <% @supertypes.each do |a_type| %>
<div>
    <option value="<%= a_type%>" >
      <%= a_type %>

    </option>
</div>
    <% end %>
     </select>



      <button>
        Search for Cards!
      </button>

    </form>

<hr>

<h2> Search by Name </h2>
