<h1> Pokemon Deck Builder </h1>


<h2> Choose a Search Option <h2>

<div>
<h2> View All... </h2>
<ul>
  <li>
    <a href="/sets" >
    Sets
  </li>
  <li>
    <a href="/cards" >
    Cards
  </li>
    <li>
    <a href="/types" >
    Types
  </li>
</ul>
</div>

<hr>

<h2> Search by... </h2>