<h1> Choose a set </h1>


<table class="table" border="1">
  <tr>
    <th>
    </th>
    <th>
      Set Name
    </th>
        <% #Blank %>
    <th>
      Series
    </th>

    <th>
     Release Date
    </th>
  </tr>

  <% @list_of_sets.each do |a_set| %>
  <tr>
    <th>
    <img src= <%= a_set.images.symbol %>>
    </th>
    <th>
    <%= a_set.name %>
    </th>
     <th>
    <%= a_set.series %>
    </th>
     <th>
    <%= a_set.release_date %>
    </th>

  </tr>
  <% end %>
</table>