<h1> Pokemon Deck Builder </h1>


<h2> Choose a Search Option <h2>

<div>
<h2> View All... </h2>
<ul>
  <li>
    <a href="/sets" > 
    Sets
    </a>
  </li>
    <li>
    <a href="/types" > 
    Types
    </a>
  </li>
</ul>
</div>

<hr>

<h1> Filter by... </h1>

<div>
<h2> List of Sets </h2>
    <form action="/search" method="get">
    
    <select name="query_set_id" id="set_id_box">

    <% @list_of_sets.each do |a_set| %>

    <option value="<%= a_set.id%>" >
      <%= a_set.name %>

    </option>

    <% end %>
     </select>

    
    <select name="query_type_id" id="type_id_box">

    <% @supertypes.each do |a_type| %>

    <option value="<%= a_type%>" >
      <%= a_type %>

    </option>


    <% end %>
     </select>


    <div>
      <button>
        Search for Cards!
      </button>
    </div>

    </form>

<hr>

<h2> Search by Name... </h2>

<form action="/name" method="get">
<input type="text" id="name_box" name="query_name">

    <div>
      <button>
        Search by name!
      </button>
    </div>
