<h1> Choose a card </h1>


<table class="table" border="1">
  <tr>
    <th>
      Card Art
    </th>
    <th>
      Pokemon Name
    </th>
        <% #Blank %>
    <th>
      Series
    </th>

    <th>
     Type
    </th>

    <th>
     Card Info
    </th>

    <th>
    Add
    </th>

  </tr>

  <% @cards.each do |a_card| %>
  <tr>
    <th>
    <img src= <%= a_card.images.small %>>
    </th>
    <th>
    <%= a_card.name %>
    </th>
     <th>
    <%= a_card.supertype.class %>
    </th>
     <th>
    <%= a_card.types.first %>
    </th>

    <th>
    <a href="/cards" >
    View card info 
    </a>
    </th>

    <th>
    <a href="/cards" >
    Add card to decklist
    </a>
    </th>

  </tr>
  <% end %>
</table>