<h1> Choose a card </h1>


<table class="table" border="1">
  <tr>
    <th>
    </th>
    <th>
      Pokemon Name
    </th>
        <% #Blank %>
  

  <% @list_of_cards.each do |a_card| %>
  <tr>
    <th>
    <img src= <%= a_card.images.small %>>
    </th>
    <th>
    <%= a_card.name %>
    </th>

  </tr>
  <% end %>
</table>